<ul id="information">
    <img src="/images/avatars/default-avatar.png" alt="blogger-avatar" id="avatar" class="detail-image">
    <li>
        <b>First name: </b>
        <span class="detail" id="firstname"></span>
    </li>
    <li>
        <b>Last name: </b>
        <span class="detail" id="lastname"></span>
    </li>
    <li>
        <b>Username: </b>
        <span class="detail" id="username"></span>
    </li>
    <li>
        <b>Gender: </b>
        <span class="detail" id="gender"></span>
    </li>
    <li>
        <b>Phone number: </b>
        <span class="detail" id="phoneNumber"></span>
    </li>
    <li>
        <b>Role: </b>
        <span class="detail" id="role"></span>
    </li>
    <li>
        <b>CreateAt: </b>
        <span class="detail" id="createAt"></span>
    </li>
</ul>

<div class="panel-btns">
    <form action="/" id="removeBlogger">
        <button type="submit" class="red remove-btn panel-btn">remove blogger</button>
    </form>
    
    <form action="/" id="passwordRecovery">
        <button type="submit" class="recovery-btn panel-btn">password recovery</button>
    </form>

    <form action="" method="GET" id="bloggerArticles">
        <button type="submit" class="articles-btn panel-btn">blogger Articles</button>
    </form>
</div>