<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/icons/css/all.min.css">
    <link rel="stylesheet" href="/icons/css/brands.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/navigation.css">

    <link rel="stylesheet" href="/stylesheets/reset-password.css">
    
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <%- include('../partial/navigation.ejs') %>

        <p class="reset-alert">result:</p>
    
        <form action="/authentication/reset-password" method="POST" id="resetPassword" autocomplete="off" spellcheck="false">
            <input type="text" name="username" id="username" placeholder="username">
            <p class="reset-error username-error">Lastname required.</p>

            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="phone number">
            <p class="reset-error phoneNumber-error">Lastname required.</p>

            <input type="text" name="password" id="password" placeholder="new password">
            <p class="reset-error password-error">Lastname required.</p>

            <button type="submit">Reset Password</button>
        </form>
    </div>


    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/display-alert.js"></script>
    <script src="/javascripts/reset-password.js"></script>
</body>
</html>