.reset-error {
    width: 100%;
    color: hsl(0, 100%, 50%);
    font-size: 0.8rem;
    font-weight: normal;
    padding: 0 8px;
    margin-top: 5px;
    margin-bottom: 0.7rem;
    opacity: 0;
}

.reset-alert {
    color: #fff;
    padding: 1rem;
    text-align: center;
}