<div class="profile">
    <div class="info">
        <img src="/images/avatars/default-avatar.png" alt="avatar">
        
        <p>Article Website</p>
    </div>

    <nav>
        <a href="/account">Dashboard</a>
        <a href="/account/article">My Articles</a>
        <a href="/explore">Explore</a>

        <% if (status === 'login') { %>
            <a href="/authentication/signup">Signup</a>
        <% } else { %>
            <a href="/authentication/login">Login</a>
        <% } %>
    </nav>
</div>