<div class="profile">
    <% if (blogger && blogger.avatar !== 'default-avatar.png') { %>
        <div class="info">
            <img src="/images/avatars/bloggers/<%= blogger.avatar %>" alt="avatar">
            <p>Welcome <%= blogger.username %></p>
        </div>
    <% } else { %>
        <div class="info">
            <img src="/images/avatars/default-avatar.png" alt="avatar">
            <% if (blogger) { %>
                <p>Welcome <%= blogger.username %></p>
            <% } else { %>
                <p>Welcome, Join our community for more feature</p>
            <% } %>
        </div>
    <% } %>

    <nav>
        <% if (blogger && blogger.role === 'admin') { %>
            <a href="/admin">Admin Panel</a>
        <% } %>
        <a href="/account">Dashboard</a>
        <a href="/account/article">My Articles</a>
        <a href="/explore">Explore</a>

        <% if (blogger) { %>
            <a href="/authentication/logout">Logout</a>
        <% } else { %>
            <a href="/authentication/login">Login</a>
        <% } %>
    </nav>
</div>