<header class="header">

    <div class="wrap">
        <div id="blogger-avatar"></div>
        
        <h2 class="logo"><a href="#">Article Website</a></h2>
  
        <a id="menu-icon">&#9776; Menu</a>
  
        <nav class="navbar">
            <ul class="menu">
            <li><a class="active" href="#">Home</a></li><!--
            --><li><a href="/account">Dashboard</a></li><!--
            --><li><a href="/explore">Explore</a></li><!--
            <% if (status === 'login') { %>
            --><li><a href="/authentication/signup">Signup</a></li>
            <% } else { %>
            --><li><a href="/authentication/login">Login</a></li>
            <% } %>
            </ul>
        </nav>
    </div>
</header>